html, body{
  height:100%;
}

.homepage-wrapper{
  background: url('../img/homepage-background.png');
  height: 100vh;
  width: 100%;
  background-size: cover;



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .homepage-upper{
    text-align: center;

    h1{
      font-size: 3em;
      font-weight: 900;
      font-family: 'Lato', sans-serif;
      line-height:1.5;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom:2%;
      letter-spacing: 0.07em;
    }

    p{
     color: $brand-secondary;
      font-size: 15px;
      font-weight: 700;
    }
  }

  .search-form{

    .btn{
      background-color: $brand-success;
      color: #fff;
      border-color: $brand-success;
    }
  }

  .social-media{
    position: relative;
    width: 100%;
    margin-top:5%;
    text-align: center;

    ul{
      li{
        margin-right: 2%;
        a{
          i{
            font-size: 3em;
          }
        }
      }
    }
  }

  .homepage-bottom{

    position: absolute;
    width: 100%;
    bottom: 2px;
    text-align: center;
    left: 0;

    ul{
      li{
        margin-right:2%;
        a{
          color: #15c986;
          text-transform: uppercase;

          &:hover{
            color: #ffffff;
          }
        }
      }
    }
  }
}

.homepage_nav{
  overflow: hidden;
  width: 100%;


  nav.navbar{
    position: absolute;
    min-height: 80px;

  }
  nav.navbar-default{

    border: none;
    width: 100%;
    background-color: #5b529e;


    ul{
      li{
        a{

          color: #f3f5f7 !important;
          font-size: 16px;
          font-weight: 700;
          text-transform: none;

          &:hover{

          color: #cccccc !important;
        }
        }

      }
    }
  }
}

