.login-register-wrapper{
  background: url('../img/login-register-bg.png');
  height: 100vh;
  width: 100%;
  background-size: cover;


  .navbar{
    position: absolute !important;
    width: 100% !important;

  }

  .navbar-default{
    background-color: transparent;
  }

  .auth-box{
    margin-top: 10%;
  }
}