.facebook {
  color: #9cacd1;

  transition: all 0.9s ease;

  &:hover {
    color: #4b67a1;
  }
}

.youtube {
  color: #9cacd1;

  transition: all 0.9s ease;

  &:hover {
    color: #e52d27;
  }
}

.instagram {
  color: #9cacd1;

  transition: all 0.9s ease;

  &:hover {
    color: #4c5fd7;
  }
}

.twitter {
  color: #9cacd1;

  transition: all 0.9s ease;

  &:hover {
    color: #02acee;
  }
}